<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Courses</title>
        <script src ="src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js""></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div>
                <h2>Add a new course</h2>
                <form class="container" action="index.html" method="post">
                    <label for="example-text-input" class="col-2 col-form-label">Course Name:</label>
                <div class="col-10">
                     <input class="form-control" type="text" name="course_name" id="example-text-input">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Description:</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3" name="description"></textarea>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </div>
                </form>

            <div class="">
                <h2>Courses</h2>
                <table class="highlight">
                    <tr class=>
                        <th>Course Name</th>
                        <th>Description</th>
                        <th>Date Added</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                      <td class="active">How to be a ninja</td>
                      <td class="success">Course Description</td>
                      <td class="warning">course date added</td>
                      <td class="danger"><a href="#">Remove</a></td>
                    </tr>
                    <tr>
                      <td class="active">How to be a ninja</td>
                      <td class="success">Course Description</td>
                      <td class="warning">course date added</td>
                      <td class="danger"><a href="#">Remove</a></td>
                    </tr>
                    <tr>
                      <td class="active">How to be a ninja</td>
                      <td class="success">Course Description</td>
                      <td class="warning">course date added</td>
                      <td class="danger"><a href="#">Remove</a></td>
                    </tr>
                    <tr>
                      <td class="active">How to be a ninja</td>
                      <td class="success">Course Description</td>
                      <td class="warning">course date added</td>
                      <td class="danger"><a href="#">Remove</a></td>
                    </tr>
                </table>
            </div>

        </div>
    </body>
</html>
